/* src/components/PastEntries/PastEntries.css */
.past-entries {
    background-color: blanchedalmond;
    border: 0;
    margin: -21px;
}

.close-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.past-entries ul {
    list-style-type: none;
    padding: 0;
}

.past-entries li {
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
